<div class="flex flex-col flex-auto p-6 md:p-8">
    @if (!editMode) {
        <ng-container>
            <!-- Close button -->
            <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
                <div class="w-full max-w-3xl flex-row">
                    <div class="flex justify-end ml-auto mb-1">
                        <div></div>
                        <button
                                mat-stroked-button
                                (click)="toggleEditMode(true)">
                            <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_outline:pencil-square'"></mat-icon>
                            <span class="ml-2">{{ 'PLUGINS.TUTORIAL.DETAILS.EDIT' | transloco }}</span>
                        </button>
                        <div class="flex items-center justify-end">
                            <a
                                    mat-icon-button
                                    [routerLink]="[pathHasId ? '../..': '../']">
                                <mat-icon [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
                            </a>
                        </div>
                    </div>
                    <!-- Title -->
                    <div class="flex flex-row items-start mt-8 justify-between">
                        <div class="text-xl font-medium">{{ tutorial.title }}</div>
                    </div>

                    <!-- Information -->
                    <div class="text-lg font-medium mt-8">{{ 'PLUGINS.TUTORIAL.DETAILS.INFORMATION' | transloco }}</div>
                    <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
                        <div class="flex items-center justify-between py-3">
                            <div class="text-secondary">{{ 'PLUGINS.TUTORIAL.DETAILS.DESCRIPTION' | transloco }}</div>
                            <p class="pl-4">{{ tutorial.description }}</p>
                        </div>
                        <div class="flex items-center justify-between py-3">
                            <div class="text-secondary">{{ 'PLUGINS.TUTORIAL.DETAILS.PUBLISHED' | transloco }}</div>
                            <div>
                                @if (tutorial.published) {
                                    <mat-icon svgIcon="heroicons_outline:check-circle" class="text-primary"></mat-icon>
                                } @else {
                                    <mat-icon svgIcon="heroicons_outline:x-circle" class="text-error"></mat-icon>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    } @else {
        <!-- Edit mode -->
        <ng-container>

            <!-- Header -->
            <div class="relative w-full h-30 sm:h-38 px-8 sm:px-12 bg-accent-100 dark:bg-transparent">
                <!-- Close button -->
                <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                    <a
                            mat-icon-button
                            [matTooltip]="'Close'"
                            [routerLink]="[pathHasId ? '../..': '../']">
                        <mat-icon
                                class="text-gray"
                                [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
                    </a>
                </div>
            </div>

            <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
                <div class="w-full max-w-3xl">
                    @if (showAlert) {
                        <fuse-alert
                                [appearance]="'outline'"
                                [showIcon]="false"
                                [type]="alert.type"
                                class="mb-4 mt-2">
                            {{ alert.message | transloco }}
                        </fuse-alert>
                    }
                    <form [formGroup]="formGroup">
                        <!-- Name -->
                        <div class="mt-8">
                            <mat-form-field
                                    class="w-full"
                                    [subscriptSizing]="'dynamic'">
                                <mat-label>{{ 'PLUGINS.TUTORIAL.DETAILS.TITLE' | transloco }}</mat-label>
                                <mat-icon
                                        matPrefix
                                        class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_outline:chat-bubble-left'"></mat-icon>
                                <input
                                        matInput
                                        [formControlName]="'title'"
                                        [spellcheck]="false">
                                @if (formGroup.controls['title']?.hasError('required')) {
                                    <mat-error>
                                        {{ 'PLUGINS.TUTORIAL.DETAILS.TITLE_REQUIRED' | transloco }}
                                    </mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div class="mt-8">
                            <mat-form-field
                                    class="w-full"
                                    [subscriptSizing]="'dynamic'">
                                <mat-label>{{ 'PLUGINS.TUTORIAL.DETAILS.DESCRIPTION' | transloco }}</mat-label>
                                <mat-icon
                                        matPrefix
                                        class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_outline:book-open'"></mat-icon>
                                <textarea
                                        matInput
                                        rows="3"
                                        [formControlName]="'description'"
                                        [spellcheck]="false"></textarea>
                                @if (formGroup.controls['description']?.hasError('required')) {
                                    <mat-error>
                                        {{ 'PLUGINS.TUTORIAL.DETAILS.DESCRIPTION_REQUIRED' | transloco }}
                                    </mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div class="mt-8">
                            <mat-checkbox formControlName="published">
                                {{ 'PLUGINS.TUTORIAL.DETAILS.PUBLISHED' | transloco }}
                            </mat-checkbox>
                        </div>
                        <!-- Actions -->
                        <div
                                class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-card">
                            <!-- Delete -->
                            @if (tutorial.id) {
                                <button
                                        mat-button
                                        class="text-on-error bg-error"
                                        (click)="delete()">
                                    Delete
                                </button>
                            }
                            <!-- Cancel -->
                            <button
                                    class="ml-auto"
                                    mat-button
                                    (click)="toggleEditMode(false)">
                                Cancel
                            </button>
                            <!-- Save -->
                            <button
                                    class="ml-2 text-primary text-on-primary"
                                    mat-flat-button
                                    [disabled]="formGroup.invalid"
                                    (click)="save()">
                                {{
                                    formGroup.value['id'] ?
                                        ('CORE.BUTTONS.UPDATE' | transloco) : 'CORE.BUTTONS.SAVE' | transloco
                                }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </ng-container>
    }
</div>
